*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.sub-container{
    padding: 30px 9%;
    padding-bottom: 100px;
}
.sub-heading{
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}
.sub-box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 15px;
}
.container .box-container .sub-box{
    box-shadow: 0 5px 10px rgba(red, green, blue, alpha);
    ;
    padding:20px 25px;
}
.sub-img{
    height: 200px;
    width: 100%;
}
.sub-name{
    font-size: 25px;
    color: #444;
}
.sub-btn{
    margin-top: 10px;
    display: inline-block;
    background-color: #f39c12;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    padding: 8px 25px;
    
}
